{% extends 'base.html' %} 
{% load staticfiles %}
{% load chartit %}
{% load index %}
{% load custom_func %}
{{ sched_chart }}

<body>
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{% block heading %}<div> Normal Map </div> {% endblock %}
{% block extrajs %}
{% endblock %}
{% block rootcontainer %}    
<style>
#sf {background: url('http://static.tumblr.com/f1skqpy/Oxbn13qun/search_icon.png') #f5f5f5 left center no-repeat; background-size: 20px 20px;}
#schedulestyle {margin-top:10% ; margin-left:20%}
#schedLeftPanel {float:left; margin-top:0%; width:20%}
</style>
<script>
$(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );
        $(document).ready(function(){
            $('#data').after('<div id="nav"></div>');
            var rowsShown = 4;
            var rowsTotal = $('#data tbody tr').length;
            var numPages = rowsTotal/rowsShown;
            for(i = 0;i < numPages;i++) {
                var pageNum = i + 1;
                $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
            }
            $('#data tbody tr').hide();
            $('#data tbody tr').slice(0, rowsShown).show();
            $('#nav a:first').addClass('active');
            $('#nav a').bind('click', function(){
 
                $('#nav a').removeClass('active');
                $(this).addClass('active');
                var currPage = $(this).attr('rel');
                var startItem = currPage * rowsShown;
                var endItem = startItem + rowsShown;
                $('#data tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
                        css('display','table-row').animate({opacity:1}, 300);
            });
        });
</script>
<div id="schedulestyle">
<div class="panel panel-info">
<h2>Efficiency Info</h2>
<form action="{% url 'blueEye:efficiency' %}" method="post" class="sfm" name="theform">
    {% csrf_token %}
<h3>Cell Name               
    <input type="text" name="CellName" value="" id="sf"/>
    <input type="submit" font-color="white" value="Search" id="sb"/>
    </h3>
</form>
</div>
<div >
    {% if cosector_cells %}
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Efficiency Table</a></li>
  <li><a data-toggle="tab" href="#menu1">CoSector Cells</a></li>
  <li><a data-toggle="tab" href="#menu2">Neighbor List</a></li>
</ul>

<div class="tab-content">
<div id="menu1" class="tab-pane fade">
<p>
<table id="example" class="zui-table">
    <thead>
        <th>
            Cell Name
        </th>
        <th>
            Uarfcn 
        </th>
        <th>
            Beamwidth
        </th>
        <th>
            Azimuth
        </th>
        <th>
            Radius
        </th>

    </thead>
    <tbody>
    {% for cell in cosector_cells %}
        <tr>
            <td>
                {{ cell.cell_name }} 
            </td>
            <td>
                {{ cell.uarfcn }} 
            </td>
            <td>
                {{ cell.beamwidth }} 
            </td>
            <td>
                {{ cell.azimuth}} 
            </td>
            <td>
                {{ cell.radius}} 
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</p>
</div>

<div id="menu2" class="tab-pane fade">
<p>
<table id="example1" class="zui-table">
    <thead>
        <th>
            Cell Name
        </th>
        <th>
            Uarfcn 
        </th>
        <th>
            Beamwidth
        </th>
        <th>
            Azimuth
        </th>
        <th>
            Radius
        </th>

    </thead>
    <tbody>
    {% for cell in neighbor_list %}
        <tr>
            <td>
                {{ cell.name}} 
            </td>
            <td>
                {{ cell.uarfcn }} 
            </td>
            <td>
                {{ cell.bw }} 
            </td>
            <td>
                {{ cell.azimuth}} 
            </td>
            <td>
                {{ cell.radius}} 
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</p>
</div>



<div id="home" class="tab=pane fade in active">
<div class="panel panel-warning">
    <p>
    <table id="example2" class="zui-table zui-table-horizontal zui-table-zebra zui-table-rounded zui-table-highlight" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Hour
                </th>
    {% for cell in cosector_cells %}
                <th>
                    {{cell.cell_name}}
                </th>
      {% endfor %}
             </tr>
        </thead>
        <tbody>
        {% for hour,efficiency  in efficiency_list.items %}
            <tr>
                <td>
                {{ hour }}
                </td>
                {% for cell in cosector_cells %}
                {% with listelem=efficiency_list|index:hour %}
                {% with elem=cell|get_cell_elem:listelem %}
                <td>
                    {% if elem.state == 1 %}
                    <font color="green">
                    CELL_ON 
                    {% else %}
                    <font color="red">
                    CELL_OFF
                    {% endif %}
                    </font>
                </td>
                {% endwith %}
                {% endwith %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </p>
</div>
</div>
</div>
</div>

    {% endif %}
{% endblock %}

</div>
</div>
</div>
</body>
