{% extends 'base.html' %} 
<body>
{% block heading %}<div> Normal Map </div> {% endblock %}
{% block extrajs %}
<script type="text/javascript">
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom        : 12,
    {% if cellinfo %}    
    center: {lat: {{cellinfo.0.lat}}, lng: {{cellinfo.0.long}}},
    {% endif %}
    mapTypeId: google.maps.MapTypeId.TERRAIN,
    mapTypeControlOptions: {
        style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
        position: google.maps.ControlPosition.TOP_CENTER
    },
    zoomControl: true,
    zoomControlOptions: {
        position: google.maps.ControlPosition.RIGHT_CENTER
    },
    scaleControl: true,
    streetViewControl: true,
    streetViewControlOptions: {
        position: google.maps.ControlPosition.RIGHT_TOP
    },
  });
  {% for cell in cellinfo %}
    var flightPlanCoordinates = [
    {% for lat,long in cell.geo.geo_polygon %}
            {lat:{{lat}},lng:{{long}}},
    {% endfor %}
    {lat:{{cell.lat}},lng:{{cell.long}}}
    ]

    var flightPath = new google.maps.Polygon({
        paths: flightPlanCoordinates,
        geodesic: true,
        strokeColor: '#0000FF',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        fillColor: '#000055',
        fillOpacity: 0.2,
        lat : {{cell.lat}},
        long : {{cell.long}},
        name : '{{cell.name}}',
        azimuth : {{cell.azimuth}},
        uarfcn : {{cell.uarfcn}},
        bw : {{cell.bw}},
        radius : {{cell.radius}}
    });

  flightPath.setMap(map);
  infoWindow = new google.maps.InfoWindow();
  addListenersOnPolygon(map, flightPath)
  {% endfor %}
}
function addToCompare(polygon){
}

var addListenersOnPolygon = function(map, polygon){
    google.maps.event.addListener(polygon, 'click', function(event){
        var contentStr = '<b>Name: '+polygon.name+'</b><br>'+
        '<b>Latitude : '+polygon.lat+'</b><br>'+
        '<b>Longitude: '+polygon.long+'</b><br>'+
        '<b>Radius   : '+polygon.radius+'</b><br>'+
        '<b>Azimuth  : '+polygon.azimuth+'</b><br>'+
        '<b>Uarfcn   : '+polygon.uarfcn+'</b><br>'+
        '<b>Beamwidth: '+polygon.bw+'</b><br>'+
        '<form action="{% url 'blueEye:index' %}" method="post">' + 
        "{% csrf_token %}" + 
        "<input type='hidden' name='CellName' value="+polygon.name+
        " ><input type='hidden' name='postMethod' value='AddToCompare'>"+
        '<input type="submit"  value="Add to Compare"/>   '+
        ' <input type="button" value="Modify"/></form>'
        infoWindow.setContent(contentStr);
        infoWindow.setPosition(event.latLng);
        infoWindow.open(map);
    });
}

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?callback=initMap">
</script>
{% endblock %}
{% block rootcontainer %}    
<style>
#map_wrapper { width:100%; height:100% position:relative;overflow:hidden; max-width:100%}
#map {  top:0; left:0; position:absolute; width: 100%; height: 100%}
#over_map {  position: relative;  z-index: 10; top:20% }
input[type=submit] { border-radius: 5px; border: 0;  font-family: Tahoma;  background:#AAAAAA ; -webkit-transition: width 50ms, height 50ms; width:80px; height:26px}
input[type=submit]:hover { background: #AAAAAA; width : 82px; height : 26px; } wrap { margin: 50px; }
#tableStyle {margin-top:10%; width:30%;}
#rowStyle {margin-left:3px; width : 30%; display:table-row; border:1px solid transparent; z-index:20; border:5px solid rgba(,200,200,1);}
#rowStyle:hover {display:table-row;border:1px solid black }
#colStyle1 {display:table-cell;-webkit-transition: width 50ms, height 50ms; width:80px; height:26px; background-color:#223344; opacity:0.5}
#colStyle {display:table-cell;-webkit-transition: width 50ms, height 50ms; width:80px; height:26px; }
#colStyle_header {display:table-cell;background-color:#223344;opacity:.6}
</style>
<div id="map_wrapper">
<div id="map"></div>
{% if cell_list %}
    <div id="over_map">
        <div id="tableStyle">
            <div id="rowStyle">
                <div id="colStyle_header"> <font color="white">Compare Cell List</font> </div>
             </div>
        </div>
        <div id="tableStyle1">
        {% for cell_name in cell_list %}
            <div id="rowStyle">
                <div id="colStyle1"> <font color="white">{{cell_name}}</font> </div>
                <div id="colStyle"> 
                    <form action="{% url 'blueEye:index' %}" method="post">
                    {% csrf_token %}
                    <input type='hidden' name='CellName' value={{cell_name}}>
                    <input type='hidden' name='postMethod' value='CompareDelete'>
                    <input type="submit"  value="Delete" ></input>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>
{% endif %}
    </div>
</div>
{% endblock %}
</body>
<!--
{% if cellinfo %}
    <ul>
    {% for cell in cellinfo %}
        <li><a href="/blueEye/{{ cell.name}}/">{{ cell.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No cells available<p>
{% endif %}
-->
