{% extends 'base.html' %} 
{% load staticfiles %}
{% load chartit %}
{{ sched_chart }}
<body>
{% block heading %}<div> Normal Map </div> {% endblock %}
{% block extrajs %}
{% endblock %}
{% block rootcontainer %}    
<style>
#sf {background: url('http://static.tumblr.com/f1skqpy/Oxbn13qun/search_icon.png') #f5f5f5 left center no-repeat; background-size: 20px 20px;}
#schedulestyle {margin-top:10% ; margin-left:25%}
#schedLeftPanel {margin-top:0; width:20%}
</style>
<div id="schedulestyle">
<form action="{% url 'blueEye:showSchedule' %}" method="post" class="sfm" name="theform">
    {% csrf_token %}
    <input type="text" name="CellName" value="" id="sf"/>
    <input type="submit" value="Search" id="sb"/>
</form>
<div>
    <table class="zui-table zui-table-horizontal zui-table-highlight zui-table-zebra zui-table-rounded">
        <thead>
            <tr>
                <th>
                    Cell Name
                </th>
                <th>
                    Start Hour
                </th>
                <th>
                    End Hour
                </th>
                <th>
                    Population Density
                </th>
                <th>
                    Actions
                    {% if cell_name %}
                    <a href="/blueEye/showSchedule/add/{{cell_name}}" />
                    <img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Add">
                    Add Schedule
                    </a>
                    {% endif %}
                </th>
             </tr>
        </thead>
        <tbody>
        {% if addSchedule %}
        <tr>
            <form action="{% url 'blueEye:saveSchedule' %}" method="post" class="sfm" name="theform">
            <td>
                {{cell_name}}
            </td>
            <td contenteditable="true">
                <input type="text" name="StartHour" value="" />
            </td>
            <td>
                <input type="text" name="EndHour" value="" />
            </td>
            <td >
                <input type="text" name="popDen" value="" />
            </td>
            <td>
                {% csrf_token %}
                <input type="hidden" name="CellName" value="{{cell_name}}" id="sf"/>
                <input type="hidden" name="identity" value="9999" id="sf"/>
                <input type="image" src="{% static 'img/save.gif' height="10" width="10" %}"  />
                </a>
            </td>
            </form>
        </tr>
        {% endif %}
        {% for busyHour in busyHourList %}
            {% ifequal busyHour.id elem.id %}
        <tr>
            <form action="{% url 'blueEye:saveSchedule' %}" method="post" class="sfm" name="theform">
            <td>
                {{busyHour.busyHour}}
            </td>
            <td contenteditable="true">
                <input type="text" name="StartHour" value="{{busyHour.startHour}}" />
            </td>
            <td>
                <input type="text" name="EndHour" value="{{busyHour.endHour}}" />
            </td>
            <td >
                <input type="text" name="popDen" value="{{busyHour.density}}" />
            </td>
            <td>
                <a href="/blueEye/showSchedule/change/{{busyHour.busyHour}}/{{busyHour.id}}" />
                    <img src="/static/admin/img/icon_changelink.gif" width="10" height="10" alt="Add">
                </a>
                <a href="/blueEye/showSchedule/delete/{{busyHour.busyHour}}/{{busyHour.id}}" >
                    <img src="/static/admin/img/icon_deletelink.gif" class="deletelink"/>
                </a>
                {% csrf_token %}
                <input type="hidden" name="CellName" value="{{busyHour.busyHour}}" id="sf"/>
                <input type="hidden" name="identity" value="{{busyHour.id}}" id="sf"/>
                <input type="image" src="{% static 'img/save.gif' height="10" width="10" %}"  />
                </a>
            </td>
            </form>
        </tr>
        {% else %}
        <tr>
            <td>
                {{busyHour.busyHour}}
            </td>
            <td contenteditable="true">
                {{busyHour.startHour}}
            </td>
            <td>
                {{busyHour.endHour}}
            </td>
            <td>
                {{busyHour.density}}
            </td>
            <td>
                <a href="/blueEye/showSchedule/change/{{busyHour.busyHour}}/{{busyHour.id}}" >
                    <img src="/static/admin/img/icon_changelink.gif" width="10" height="10" alt="Add">
                </a>
                <a href="/blueEye/showSchedule/delete/{{busyHour.busyHour}}/{{busyHour.id}}" >
                    <img src="/static/admin/img/icon_deletelink.gif" class="deletelink"/>
                </a>

            </td>
        </tr>
    {% endifequal %}
    {% endfor %}
        </tbody>
    </table>
</div>
</div>
<div id='sched_chart'>{{sched_chart|load_charts:'sched_chart'}}<p>Iam here</p></div>
{% endblock %}
</body>
